@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Libre+Baskerville&family=Orbitron:wght@500&family=Ubuntu&display=swap");

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  /* background-color:moccasin; */
  /* background-image: url("images/wallpaper10.jpg");  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to right bottom, #6c63ff, #e46dbf);
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 15px 0;
  background-color: #333; /* Dark background color */
  color: #fff;
  font-family: "Lato", sans-serif; /* Use Lato font for better readability */
}

li {
  display: inline;
  margin: 0 15px;
  padding: 10px;
  background-color: #555; /* Darker background color */
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

li:hover {
  background-color: #777; /* Darker background color on hover */
}

/* li:hover{
    color:blueviolet;
    cursor:pointer;
    background-color: rgb(146, 223, 219);
} */

a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
}

.select {
  display: flex;
  flex-direction: column;
}

#head {
  font-size: 50px;
  text-align: left;
}
/* .mailInfo{
    width:600px;
    margin:0 auto;
    position:relative;
    top:40%;
    transform:translateY(-70%);
    padding: 20px 40px;
    background: linear-gradient(to top left,#ffffffff,#ffffff33);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow:2px 2px 5px #2773a5;
} */

#box-heading {
  padding: 5px;
  margin: auto;
  text-align: center;
  /* float: */
}

.mailInfo {
  /* display: flex; */
  width: 500px;
  /* height:600px; */
  position: relative;
  /* justify-content: center; */
  /* align-items: center; */
  height: 65%;
  background-color: rgb(204, 211, 214);
  /* border: 2px solid red; */
  /* gap:10px; */
  background: linear-gradient(to top left, #ffffffff, #ffffff33);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  box-shadow: 2px 2px 5px #2773a5;
  z-index: 2;
}

#from,
#subject {
  margin: 14px;
  padding: 10px;
  width: 470px;
  height: 40px;
  border-radius: 4px;
}
#msg {
  margin: 14px;
  padding: 10px;
  width: 40px;
  width: 470px;
  border-radius: 4px;
}

#submit {
  width: 10em;
  height: 3em;
  margin: 0;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translate(-50%, -50%); */
  border-radius: 30px;
}

button {
  background: #3498db;
  color: #e6dede;
  border: 2px solid #0f0909;
  font-size: 17px;
  letter-spacing: 2px;
  padding: 10px 40px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  box-shadow: 0 1px 1px #130b0b;
}
button:hover,
button:focus {
  background: linear-gradient(to right bottom, #ff7e5f, #feb47b);
  color: #ffffff;
}

/* #submit:hover{
    background-color:#579c57;
} */

.select input {
  background-color: rgb(255, 255, 255);
  border: none;
  margin: 6vh auto;
  border-radius: 50px;
  box-shadow: 5px 5px 10px black;
  font-weight: 600;
  font-size: 1rem;
  outline: none;
  width: 350px;
}

.select input::file-selector-button {
  background: #3498db;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 1px 1px #6b4559;
  outline: none;
}

.select input::file-selector-button:hover {
  background: linear-gradient(to right bottom, #ff7e5f, #feb47b);
  cursor: pointer;
}

.tables {
  /* text-align: center; */
  /* border: 2px solid red; */
  width: 1000px;
  margin: 0 auto;
}
td {
  color: white;
}
td h2 {
  color: black;
}

table {
  text-align: left;
  /* border: 1px solid black; */
  float: left;
  width: 500px;
}
/* .valTab{
    text-align: left;
    margin:0 auto;
    clear: left;
} */

/* .invalTab{
    text-align: right;
} */

hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.footer-basic {
  background-color: #333; /* Dark background color */
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

.footer-basic .copyright {
  font-size: 16px;
  margin-top: 10px;
}

.footer-basic .copyright a {
  color: #fff;
  text-decoration: none;
}

.footer-basic .copyright a:hover {
  text-decoration: underline;
}
